body {
  padding-top: 2%;
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 30%)
  );
  z-index: 1;
}

body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(263, 98%, 50%),
    hsl(278, 100%, 67%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

body:hover::before {
  opacity: 1;
}
